<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Asset</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.email %></td>
        <td><%= reservation.asset.ip_address %></td>
        <td><%= reservation.start_time %></td>
        <td><%= reservation.end_time %></td>
        <td><%= reservation.notes %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Modify', edit_reservation_path(reservation) %></td>
	<% if reservation.user == current_user %>
        <td><%= link_to 'Release', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
	<td></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
