<p id="notice"><%= notice %></p>

<p>
  <strong>Ip address:</strong>
  <%= @asset.ip_address %>
</p>

<p>
  <strong>Label:</strong>
  <%= @asset.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
