<!DOCTYPE html>
<html>
  <head>
    <title>Reservate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="masthead">

	<ul class="nav nav-pills pull-right">
    <li>
      <%= link_to "Reservations", "/reservations" %>
    </li>
    <li>
    <%= link_to "Assets", "/assets" %>
      </li>
	  <%= render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
	</ul>
	
	<h3 class="muted"><%= link_to "Reservate", root_path %></h3>
	<h5 class="muted"> asset reservation service</h5>
      </div>
      <hr />

    
    
    <%= yield %>
    </div>
  </body>
</html>
